<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181486033470-c1v634rocapmfops1hk36mi9b2303c8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181486033470-c1v634rocapmfops1hk36mi9b2303c8o</string>
	<key>API_KEY</key>
	<string>AIzaSyCP5v4l2fl9PK52mDNczseIiNfPJaIADuA</string>
	<key>GCM_SENDER_ID</key>
	<string>181486033470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lsatPrepApp2</string>
	<key>PROJECT_ID</key>
	<string>bscjiaks</string>
	<key>STORAGE_BUCKET</key>
	<string>bscjiaks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181486033470:ios:18daa9dcd0274f671f8f6f</string>
	<key>DATABASE_URL</key>
	<string>https://bscjiaks-default-rtdb.firebaseio.com</string>
</dict>
</plist>